<div class="container">
    <div class="box">
        <h1>CADASTRO</h1>

        <form action="/add/users" method="post" class="form">
            
            <div class="form-control">
            <input type="text" name="name" placeholder="Digite seu nome" id="">
            </div>
            
            <div class="form-control">
            <input type="text" name="user" placeholder="Digite seu usuario" id="">
            </div>

            <div class="form-control">
            <input type="password" name="password" placeholder="Digite sua senha" id="">
            </div>
            
            <input type="submit" value="Cadastrar Usuario">
        </form>
    </div>
</div>