<div class="container">
    <div class="box">
        <h1>Login</h1>

        <form action="" method="post" class="form">
            
            <div class="form-control">
            <input type="text" name="user" placeholder="Digite seu usuario" id="">
            </div>

            <div class="form-control">
            <input type="password" name="password" placeholder="Digite sua senha" id="">
            </div>

            <div class="form-control">
            <input type="submit" value="Fazer Login">
            </div>

            <hr>

        </form>

            <div class="botoes">

            <button><a href="/cadaster">CADASTRAR</a></button>
            <button><a href="/users">Lista de usuarios</a></button>

            </div>
            
   
    </div>
</div>