<div class="container">
    <div class="box">
        <h1>LISTA DE USUARIOS CADASTRADOS</h1>
        {{#each users}}
        <div>
            <hr>
           # <span class="bold">{{this.nome}}</span> || usuario: {{this.user_name}} <form action="/users/delete/{{this.id}}" method="post"><input type="submit" value="Remover"></form>
        </div>
        {{/each}}
               
               <div class="form-control">
                <button><a href="/">Voltar</a></button>
               </div>
    </div>
</div>