<div class="container">
    <div class="box">
        <h1>LISTA DE USUARIOS CADASTRADOS</h1>
        {{#each users}}
        <div>
           Nome: {{this.id}} <span class="bold">{{this.nome}}</span> || usuario: {{this.user_name}} <a href="">Deletar Usuario</a>
        </div>
        {{/each}}


    </div>
</div>