<div class="container">
    <div class="box">
        <h1>LISTA DE USUARIOS CADASTRADOS</h1>
        {{#each users}}
        <div>
            <hr>
           #{{this.id}} <span class="bold">{{this.nome}}</span> || usuario: {{this.user_name}} <a href="">Deletar Usuario</a>
        </div>
        {{/each}}
               
               <div class="form-control">
                <button><a href="/">Voltar</a></button>
               </div>
    </div>
</div>