<h1>Edite o cadastro de livros</h1>
<form action="" method="post" class="form">

<div class="form-control">
    <label for="title">Digite o nome do livro</label>
    <input type="text" name="title" id="" placeholder="Digite o nome do Livro" value={{book.title}}>
</div>

<div class="form-control">
    <label for="Autor">Digite o nome do autor do Livro</label>
    <input type="text" name="Autor" id="" placeholder="Nome do autor" value={{book.Autor}}>
</div>

<input type="submit" value="Editar">

</form>