<h1>Estante Livros</h1>
<div class="books-container">
    <a href="/">Cadastrar Livros</a>
    {{#each books}}
    <div>
        #{{this.id}} - <span class="bold">{{this.Título}}</span> - {{this.Autor}} Autor
    </div>
    {{/each }}
</div>  