<h1>Cadastro de Livros</h1>
<form action="/books/insertbook" method="post" class="form">

<div class="form-control">
    <label for="title">Digite o nome do livro</label>
    <input type="text" name="title" id="" placeholder="Digite o nome do Livro">
</div>

<div class="form-control">
    <label for="Autor">Digite a quantidade de paginas do livro</label>
    <input type="text" name="Autor" id="" placeholder="Nome do autor">
</div>

<input type="submit" value="Cadastrar">

</form>