<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar usuario</title>
</head>
<body>
    <h1>Cadastro Usuarios</h1>
    <form action="/user/save" method="post">
        <div>
            <input type="text" name="name" id="text" placeholder="Digite seu nome">
        </div>
        <div>
            <input type="text" name="age" id="text" placeholder="Digite sua idade">
        </div>
        <div>
            <input type="submit" name="" value="cadastrar" id="">
        </div>
    </form>
</body>
</html>