<div class="container">
    <h1>TELA CADASTRO</h1>
    <div class="box">
        <form action="/cadastro/users" method="post">

            <label for="email">Digite seu email</label>
            <input type="text" name="email" placeholder="Digite seu email">

            <label for="password">Digite uma senha</label>
            <input type="password" name="password" id="" placeholder="Digite uma senha">

            <input type="submit" value="Cadastrar">

        </form>
    </div>
</div>

